.container {
  position: relative;
  overflow: hidden;

  background-color: var(--border-color-default);
  opacity: 0.3;
  width: 100%;
}

.container::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150%;
  height: 100%;
  width: 150%;

  background: linear-gradient(
                  90deg,
                  transparent 0%,
                  rgba(255, 255, 255, 0.6) 50%,
                  transparent 100%
  );

  animation: shimmer 1.4s infinite;
}

@keyframes shimmer {
  100% {
    left: 100%;
  }
}

@media (prefers-reduced-motion: reduce) {
  .container::after {
    animation: none;
  }
}
