@use '../src/styles/abstract';

.layout {
  @include abstract.container;
  display: flex;
  height: calc(100vh - 60px);
  position: relative;
  padding: 0 60px;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  margin: 0 94px;

  .layout:has(aside) & {
    padding-left: 184px;
    margin: 0;
  }
}

