@use '../../../../styles/base/typography' as typo;

.postDesc {
  .time {
    @include typo.text-small;
    color: var(--color-small-text);
    outline: none;
    margin-bottom: 3px;
  }

  .textContainer {
    position: relative;
    max-height: 192px;
    overflow: hidden;

    .text {
      @include typo.text-regular-14;
       word-break: break-word; 

      &:not(.expanded) {
        display: -webkit-box;
        -webkit-line-clamp: 3; // Вендорный префикс, необходим для работы
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
      }

      &.expanded {
        max-height: none;
        -webkit-line-clamp: initial; // Вендорный префикс, необходим для работы
      }
    }

    .buttonInline {
      position: absolute;
      right: 0;
      bottom: 1px;
      background: var(--color-bg);
      color: var(--color-accent);
      border: none;
      padding-left: 10px;
      cursor: pointer;
      @include typo.text-regular-14;
      white-space: nowrap;
      text-decoration: underline;
      z-index: 1;

      &::before {
        content: '...';
        position: absolute;
        left: -10px;
        color: var(--color-text);
        background: var(--color-bg);
        font-weight: bold;
      }
    }
  }
}
