@use '../../../../../styles/abstract' as styles;
@use '../../../../../styles/base/typography' as typo;

.dropdownMenu {
  position: absolute;
  top: 100%;
  right: 0;
  background: styles.palette('dark', 500);
  border: 1px solid styles.palette('dark', 100);
  border-radius: 2px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  min-width: 178px;
  margin-top: 5px;
  animation: slideDown 0.2s ease;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.dropdownItem {
  display: flex;
  align-items: center;
  text-align: center;
  width: 100%;
  padding: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  @include typo.text-regular-14;
  gap: 12px;
  transition: background-color 0.2s ease;

  &:hover,
  &:focus {
    background-color: styles.palette('dark', 100);
    outline: none;
  }

  &:active {
    background-color: styles.palette('dark', 100);
  }

  &.deleteItem {
    color: inherit;

    &:hover,
    &:focus {
      background-color: styles.palette('dark', 100);
    }

    &:active {
      background-color: styles.palette('dark', 100);
    }
  }
}

.dropdownIcon {
  font-size: 14px;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.dropdownText {
  padding-top: 3px;
  line-height: 1.2;
  display: flex;
  align-items: center;
  text-align: center;
}