@use '../abstract';

:root {
  // Тёмная тема (по умолчанию)
  --color-bg: #{abstract.palette('dark', 700)};
  --color-bg-500: #{abstract.palette('dark', 500)};
  --color-text: #{abstract.palette('light', 100)};
  --color-accent: #{abstract.palette('accent', 500)};
  --border-color-default: #{abstract.palette('dark', 100)};
  --border-color-on-hover: #{abstract.palette('light', 100)};
  --color-disabled: #{abstract.palette('dark', 100)};
  --color-arrow: #{abstract.palette('light', 100)};
  --color-option-bg: #{abstract.palette('dark', 300)};
  --color-small-text: #{abstract.palette('light', 900)};

  // для цвета бордера
  --border-color: var(--border-color-default);
}

html.light {
  // Светлая тема
  --color-bg: #{abstract.palette('light', 100)};
  --color-bg-500: #{abstract.palette('light', 100)};
  --color-text: #{abstract.palette('dark', 900)};
  --color-accent: #{abstract.palette('accent', 300)};
  --border-color-default: #{abstract.palette('dark', 700)};
  --border-color-on-hover: #{abstract.palette('dark', 100)};
  --color-arrow: #{abstract.palette('dark', 100)};
  --color-option-bg: #{abstract.palette('light', 300)};
}

// const [theme, setTheme] = useState<'light' | 'dark'>('dark')

// useEffect(() => {
//  document.documentElement.classList.toggle('light', theme === 'light')
//}, [theme])

// В useEffect описываем такую логику

//  if (theme === 'light') {
//    document.documentElement.classList.add('light')
//  } else {
//    document.documentElement.classList.remove('light')
//  }
